.modal-checkbox {

	&__title {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		margin-bottom: 30px;

		color: var(--col--lgrey);
	}

	&__linc {
		display: block;
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		text-decoration-line: underline;

		color: var(--col--blue);
	}

	&__label {
		position: relative;
		justify-content: center;
		display: block;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: var(--col--lgrey);
	}

	&__title {
		position: absolute;
		top: 3px;
		left: 0px;
		width: 16px;
		height: 15px;
		background-image: url(../images/check_off.svg);
	}

	.modal-checkbox:checked+&__title {
		background-image: url(../images/check_on.svg);
	}
}