.footer-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.footer-form {
	margin-left: auto;
	padding-top: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;


	&__join {
		display: flex;
		gap: 12px;
		flex-wrap: wrap;
		justify-content: center;

	}



	&__text {
		font-family: "Roboto", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.1428;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-bottom: 20px;

		color: var(--colff--white);
	}

	&__mail {
		max-width: 358px;
		width: 358px;
		height: 50px;
		padding: 15px 16px;

		outline: transparent;
		background-color: transparent;

		color: var(--colff--white);
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
	}
}