.footer {
	background-color: var(--col--grey);


}

.footer-title {
	font-style: normal;
	text-transform: uppercase;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1428;
	letter-spacing: 0.03em;
	padding-top: 12px;
	margin-bottom: 20px;

	color: var(--colff--white);
}

.footer-container {
	display: flex;
	gap: 70px;
	padding-top: 60px;
	padding-bottom: 60px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}




.footer-address {
	&__link {
		display: block;
		font-style: normal;
		text-decoration: none;
		font-size: 14px;
		line-height: 1.7;
		margin-bottom: 9px;
		color: var(--colff--white);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__link:hover,
	&__link:focus {
		color: var(--col--blue);
	}
}






.footer-contact {
	&__link {
		display: block;
		text-decoration: none;
		font-style: normal;
		font-size: 14px;
		line-height: 1.7;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.6);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__link.post {
		margin-bottom: 9px;
	}

	&__link:hover,
	&__link:focus {
		color: var(--col--blue);
	}
}