.header-page {
	display: contents;
	border-bottom: 1px solid #ececec;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.container .main {

	@media screen and (max-width: 1199px) {
		display: contents;
	}
}