.hero {
	max-width: 1600px;
	padding: 200px 0;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to bottom,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../images/backround.jpg);
	background-size: cover;
}

.hero {
	background-image: url(../images/images@/mb_Header\ img.jpg);
	background-repeat: no-repeat;
	background-position: center;


	@media (min-device-pixel-ratio: 2) and (max-width: 767px),
	(min-resolution: 192dpi) and (max-width: 767px),
	(min-resolution: 2dppx) and (max-width: 767px) {
		background-image: linear-gradient(to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)),
			url(../images/images@/mb_Header\ img@2x.jpg);
		padding: 118px 0;

	}

	@media (min-device-pixel-ratio: 2) and (max-width: 1199px),
	(min-resolution: 192dpi) and (max-width: 1199px),
	(min-resolution: 2dppx) and (max-width: 1199px) {
		background-image: linear-gradient(to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)),
			url(../images/images@/tab_Header\ img@2x.jpg);
	}

	@media screen and (max-width: 1199px) {
		background-image: linear-gradient(to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)),
			url(../images/images@/tab_Header\ img.jpg);
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
	(min-resolution: 192dpi) and (min-width: 1200px),
	(min-resolution: 2dppx) and (min-width: 1200px) {
		background-image: linear-gradient(to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)),
			url(../images/images@/des_Header\ Img@2x.jpg);

	}

	@media screen and (min-width: 1200px) {
		background-image: linear-gradient(to bottom,
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)),
			url(../images/images@/des_Header\ Img.jpg);
	}
}

.hero-title {
	@media screen and (min-width: 1200px) {
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.03em;
		max-width: 670px;
	}

	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 30px;
	width: 100%;
	font-family: 'Roboto',
	sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.61;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--colff--white);

}