.logo {
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-family: "Raleway", sans-serif;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.1923;
	letter-spacing: 0.03em;
	color: var(--col--blue);
}

.header__logo {
	text-decoration: none;
	margin-right: 93px;
	color: #000000;
}

.footer__logo {
	text-decoration: none;
	color: var(--colff--white);
}