.logo {
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-family: "Raleway", sans-serif;
	margin-bottom: 16px;
	margin-top: 16px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.1923;
	letter-spacing: 0.03em;
	color: var(--col--blue);


	@media screen and (min-width: 1200px) {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 26px;
	}
}

.header__logo {
	text-decoration: none;
	color: #000000;

	@media screen and (min-width: 1200px) {
		margin-right: 93px;

	}
}

.footer__logo {
	text-decoration: none;
	color: var(--colff--white);
}