.modal {
	position: fixed;

	z-index: 777;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
	transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 450px;
	height: 609px;
	border-radius: 4px;
	padding: 40px;

	background-color: var(--colff--white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal-window {
	transform: translate(-50%, -50%) scale(2);
}



.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}



.from-title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 12px;

	color: var(--col--black);
}

.form-input {
	width: 100%;
	height: 40px;
	padding: 11px 12px;
	margin-bottom: 10px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.form-span__title {
	display: block;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.1666;
	letter-spacing: 0.01em;
	margin-bottom: 4px;

	color: var(--col--lgrey);
}

.modal-textarea {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 12px;
	line-height: 1.1666;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.modal-send {
	margin-top: 30px;
}


.modal-send__button {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	letter-spacing: 0.06em;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;

	display: block;
	margin: auto;
	padding: 10px 52px;
	width: 200px;
	height: 50px;

	color: var(--colff--white);
	background: var(--col--blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
}


.form-box__icon {
	position: relative;
}

.form-icon {
	position: absolute;
	top: 12px;
	left: 12px;
}

.form-input:focus+.form-icon,
.form-input:hover+.form-icon {
	color: var(--col--blue);
	border-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
	border-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus,
.modal-textarea:hover {
	border-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}