.team {
	background-color: #f5f4fa;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;

	&__team-section {
		padding-top: 30px;
	}

	&__title {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		text-align: center;
	}

	&__text {
		text-align: center;
		font-size: 16px;
		line-height: 1.2;
		margin-top: 10px;
		margin-bottom: 30px;
		color: var(--col--lgrey);
	}

	&__item {
		background-color: var(--colff--white);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
			0px 2px 1px rgba(0, 0, 0, 0.2);
	}

	&__social {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}

.social-list {
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		color: #afb1b8;
	}

	&__link:hover,
	&__link:focus {
		color: var(--colff--white);
		background-color: var(--col--blue);
	}

	&__link {
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
			background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}