.work {
	padding-top: 0;

	@media screen and (max-width: 1199px) {
		display: none;
	}

	&-list {
		display: flex;
		gap: 30px;


		&__item {
			position: relative;
		}

		&__title {
			position: absolute;
			text-transform: uppercase;
			text-align: center;

			left: 0;
			bottom: 0;
			width: 100%;
			padding: 27px 0px;
			z-index: 2;
			font-weight: 700;
			font-size: 14px;
			line-height: 1.1428;
			letter-spacing: 0.03em;

			color: var(--colff--white);
			background: rgba(47, 48, 58, 0.8);
		}

		@media screen and (max-width: 767px) {
			display: none;
		}
	}
}